<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Update Profile</title>
      <meta charset="UTF-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
         />
      <link
         rel="stylesheet"
         href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
         crossorigin="anonymous"
         />
      <style>
         .fields{
         font-weight: bold;
         }
         td{
         margin-right: 500px;
         margin-bottom: 30px;
         background-color: #262d38;
         text-align: center;
         min-width: 200px;
         height: 50px;
         color: white;
         }
      </style>
   </head>
   <body style="background-color: #5a6069;" onload="getProfile()">
      <script
         src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
         integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
         crossorigin="anonymous"
         ></script>
      <script
         src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
         crossorigin="anonymous"
         ></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <div id="nav-placeholder"></div>
      <table id="profile" style="margin-left:auto; margin-right:auto; margin-top:30px;border-collapse: separate; border-spacing: 2px;">
      </div>
      <script>
         function getProfile(){
         	var URL = "/api/user"; 
         	$.ajax({ 
         		type: "GET",  
         		url : URL, 
         		success : function(msg){ 
         			console && console.log( msg ); 
         			populateProfileFields( msg );
         		},
         		error: function(jgXHR, textStatus,errorThrown){ 
         			alert("Error: " + textStatus + " " + errorThrown);
         		}
         	});
         }
         
         function populateProfileFields(json)
         {
         	var profile = document.getElementById("profile"); 
         	var fields =  Object.keys(json[0]);
         	var values =  Object.values(json[0]);
         	for (var i = 0; i < fields.length; i++) {
         		valueText = values[i];
         		if(fields[i] == 'password'){
         			valueText = '----------'
         		}
         		if(fields[i] != 'profileID'){
         			createNewRow(fields[i], valueText);
         		}
         	};
         }
		 function createNewRow(fieldName, valueTExt){
			var newDiv = document.createElement("tr"); 
         			var field = document.createElement("td");							
         			var value = document.createElement("td"); 
         			var edit = document.createElement("td"); 
         			var button = document.createElement("button"); 
         			button.setAttribute( "onClick", "updateField(\'" + fieldName + "\')" );
					button.className = 'btn btn-primary';
         			field.className = 'fields';
         			field.innerText = fieldName;
         			value.innerText = valueText;
         			button.innerText = "edit";
         			edit.appendChild(button);
         			newDiv.appendChild(field);
         			newDiv.appendChild(value);
         			newDiv.appendChild(edit);
         			profile.appendChild(newDiv);
		 }
         function updateField(field){
         	window.location.replace("./updatefield.html?field=" + field);
         }
         
                $(function(){
                         	$("#nav-placeholder").load("nav.html");
                         });
                (function() {
                  'use strict';
                  window.addEventListener('load', function() {
                    var forms = document.getElementsByClassName('needs-validation');
                    var validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                      }, false);
                    });
                  }, false);
                })();
                
             
      </script>
   </body>
</html>