<!DOCTYPE html>
<html lang="en">
   <head>
      <title>My Projects</title>
      <meta charset="UTF-8" />
      <meta name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
      
      <script src="./common.js"></script>
      <link rel="stylesheet" type="text/css" href="styles.css">
   </head>
   <body onload="getProjects()">
      <div id="nav-placeholder"></div>
      <p>My Projects</p>
      <table id="projects" style="margin-left:auto; margin-right:auto; margin-top:10px;border-collapse: separate; border-spacing: 2px;">
         <tr>
            <th>Project Title</th>
            <th>Update/View</th>
         </tr>
      </table>
      <script>
         // Get navbar
         $(function(){
            $("#nav-placeholder").load("nav.html");
         });

         function getProjects(){
         	var URL = "/api/userprojects"; 
         	$.ajax({ 
         		type: "GET",  
         		url : URL, 
         		success : function(msg){ 
         			console && console.log( msg ); 
         			populateProjectFields( msg );
         		},
         		error: function(jgXHR, textStatus,errorThrown){ 
         			alert("Error: " + textStatus + " " + errorThrown);
         		}
         	});
         }
         
         function populateProjectFields(rows){
            var projects = document.getElementById("projects");
            for (var i = 0; i < rows.length; i++){
               var title =  Object.values(rows[i])[1];
               var id =  Object.values(rows[i])[0];
               projects.appendChild(createNewRow('', title, 'select', id));
            };
         }
         
         function update(field){
         	window.location.replace("./updatetable.html?type=project&id=" + field);
         } 
      </script>
   </body>
</html>