<nav
  class="mb-1 navbar navbar-expand-lg navbar-dark"
  style="background-color: #262d38"
>
  <a class="navbar-brand" href="index.html">
    <img
      src="images/lightning_bolt.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Project Connect
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/newproject.html">Create Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listprojects.html?list=match">My Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listprojects.html?list=me">Connect</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >You
          <i class="fas fa-user"></i>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a class="dropdown-item" href="profile.html">Update</a>
          <a class="dropdown-item" href="index.html">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
