html body{
  background-color: #5a6069;
}

.fields{
  font-weight: bold;
}

td, th{
  margin-right: 500px;
  margin-bottom: 30px;
  background-color: #262d38;
  text-align: center;
  min-width: 200px;
  height: 50px;
  color: white;
}

table{
  margin-left:auto; 
  margin-right:auto; 
  margin-top:30px;
  border-collapse: separate; 
  border-spacing: 2px;
}