<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Update</title>
      <meta charset="UTF-8" />
      <meta name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
      
      <script src="./common.js"></script>
      <link rel="stylesheet" type="text/css" href="styles.css">
   </head>
   <body onload="getData(); getConnects();">
      <div id="nav-placeholder"></div>
      
      <div>
      <p>Project Information</p>
      <table id="mytable"></table>
      </div>
      <br/>
      <div id="connects"></div>
      
      <script>
         // Get navbar
         $(function(){
            $("#nav-placeholder").load("nav.html");
         });
         function getData(){
            var URL = "/api/" + getUrlVars()['type'];
            params = {};
            params.projectID = getUrlVars()["id"]; 
               $.ajax({ 
                  type: "GET",  
                  url : URL, 
               data: params,
                  success : function(msg){ 
                     console && console.log( msg );					
                     populateTable( msg );
                  },
                  error: function(jgXHR, textStatus,errorThrown){ 
                     alert("Error: " + textStatus + " " + errorThrown);
                  }
               });
         }
         function getConnects(){
               var URL = "/api/connect";
               params = {};
               params.projectID = getUrlVars()["id"]; 
               $.ajax({ 
                  type: "GET",  
                  url : URL, 
                  data: params,
                  success : function(msg){ 
                     //console && console.log( msg );					
                     populateConnections(msg);
                  },
                  error: function(jgXHR, textStatus,errorThrown){ 
                     alert("Error: " + textStatus + " " + errorThrown);
                  }
               });
         }
         function populateConnections(rows)
         {
            var connects = document.getElementById("connects");
            output = '<p>Project Connections</p><table id="connects" style="margin-left:auto; margin-right:auto; border-collapse: separate; border-spacing: 2px;">';
            output += "<tr><th>Username</th><th>Contact</th><th>Skills</th></tr>"
            for (var i = 0; i < rows.length; i++){
                var tr = "<tr>";
                tr += "<td>" + Object.values(rows[i])[0] + "</td>";
                tr += "<td>" + Object.values(rows[i])[1] + "</td>";
                tr += "<td>" + Object.values(rows[i])[2] + "</td></tr>";
                //tr += "<td><button type='button' class='btn btn-primary' onclick='remove(this,"+Object.values(rows[i])[0]+")'>Remove</button></td></tr>"; //onclick='remove(" + Object.values(rows[i])[2] +")'
                output += tr;
            };
            output += "</table>";
            connects.innerHTML = output;
        }
      </script>
   </body>
</html>